body {
    background-image: url("../img/web.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
}
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: auto;
    text-decoration: none;
    color: initial;
}
