@import "font.css";
body {
    background-image: url("../img/web.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
}
.header > div {
    font-family: "Clickupper";
    color: white;
    font-size: 40px;
    text-align: left;
    text-outline: black 5px;
    padding: 400px 0;
}
.header__text{
    font-size: 40px;
    margin-bottom: 40px;
}
.button{
    padding: 30px 150px;
    border: 10px;
    border-radius: 30px;
}