<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Targetchart</title>
</head>
<body>
<header class="head">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <h1 class="head__text">Targetchart</h1>
            </div>
        </div>
    </div>
</header>
<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="header__text">🔥 100 000+ ПРОСЛУШИВАНИЙ ЗА СУТКИ?</h2>
                <h2 class="header__text">🔥 ПУБЛИКАЦИЯ В ИЗВЕСТНЫХ ПАБЛИКАХ?</h2>
                <h2 class="header__text">🔥 1 МЛН ПРОСМОТРОВ НА КЛИПЕ ВК?</h2>
                <button class="button" onclick="location.href='/nakruta'" type="button"style="margin-left: 35px;">ЗАКАЗАТЬ</button>
            </div>
            <div class="col-md-6">
                <h2 class="header__text2">💣 ВЫВОД ТРЕКА В ТОП ЧАРТА ВК?</h2>
                <h2 class="header__text2">💣 АГРЕССИВНАЯ ТАРГЕТИРОВАННАЯ РЕКЛАМА?</h2>
                <h2 class="header__text2">💣 МУЗЫКАЛЬНАЯ ВИТРИНА ВК?</h2>
                <button class="button2" onclick="location.href='https://t.me/safi_verber'" type="button"style="margin-left: 65px; margin-top: -3px;">СВЯЗАТЬСЯ</button>
            </div>
        </div>
    </div>
</header>
<foot class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="footer__text">©Telechart 2021</h2>
            </div>
        </div>
    </div>
</foot>
</body>
</html>